@charset "UTF-8";

.bg-carrot{
	background-color: #E97341;
}
.bg-gray{
	background-color: #F0F1F2;
}
.border-carrot{
	border-color: #E97341;
}
.text-carrot{
	color: #E97341;
}

.text-size-1{
	font-size: 20px;
}

.storeitemimage{
	height: 200px;
}

.card-img-size{
	height: 200px;
}

.goods{
	width: 395px;
	height: 350px;
	margin-bottom: 7px;
	border: 1px solid #E97341;
}

a:hover {
  text-decoration: none;
}

.form-box{
	width: 1000px;
}

#warp{
	width: 1200px;
	margin: auto;
}
header{
	height: 70px;
}

.main-menu{
	height: 50px;
}

.main-content{
}

footer{
	height: 100px;
}